body {
    font-family: "Advent Pro", sans-serif;
}

main {
    width: 55%;
    margin: 0 auto;
}

h1 {
    font-weight: 3rem;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: "Monoton", sans-serif;
    font-weight: 100;
}